<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="header">
            <nav class="navbar navbar-default navbar-static-top m-b-0">
                <div class="navbar-header">
                    <div class="top-left-part">
                        <!-- Logo -->
                        <a class="logo" th:href="@{/}">
                            <b>
                                <img th:src="@{/assets/images/run-for-water.png}" alt="home" class="light-logo" style="max-height: 100%">
                            </b>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>

