<!DOCTYPE html>
<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="pagination">
            <div class="row">
                <div class="col-md-6">
                    Show <span sd:page-size-selector="javascript"></span> entries
                    &nbsp; ( <span sd:pagination-summary=""></span> )
                </div>
                <div class="col-md-6">
                    <ul class="pagination pull-right" sd:pagination="full"></ul>
                </div>
            </div>
        </div>
    </body>
</html>
